@import '../../includes';

.clock {
  display: inline-block;
}

.clock-date {
  line-height: 1.2;
  font-size: 1rem;
  letter-spacing: rem(1px);
  text-align: center;
  @include screen(small) {
    font-size:rem(26px);
    display: inline-block;
    vertical-align: middle;
  }
}

.clock-time {
  line-height: 1.2;
  font-size: rem(40px);
  text-align: center;
  @include screen(small) {
    font-size: rem(60px);
    display: inline-block;
    vertical-align: middle;
    margin-right:rem(15px);
  }

}
