@import '../../includes.scss';

.clock {
  display: inline-block;
}

.clock-date {
  line-height: 1.2;
  font-size: 1rem;
  @include screen(small) {
    letter-spacing: rem(1px);
    font-size: rem(26px);
    display: inline-block;
    vertical-align: middle;
  }
}

.clock-time {
  line-height: 1.2;
  font-size: rem(40px);
  @include screen(small) {
    font-size: rem(60px);
    display: inline-block;
    vertical-align: middle;
    margin-right: rem(15px);
  }
}
