@import '../includes';
.todo-editor {
  margin: rem(20px) auto;
  @include screen(med-small) {
    text-align: center;
  }
  @include screen(med) {
    margin: rem(30px) auto;
  }
  textarea {
    resize: vertical;
    min-height: 130px;
    font-size: 13px;
    padding: 14px;
    width: 98%;
    outline: none;
    border: none;
    border-radius: 6px;
    color: lighten($shade-inverse, 25%);
    background-color: #{$accent}44;
    @include screen(med-small) {
      width: 100%;
    }
    @include screen(med) {
      min-height: 300px;
    }
  }
}

.todo-editor-actions {
  margin: 20px 0;
  width: 98%;
  display: flex;
  justify-content: flex-end;
  .action-btn {
    padding: 2px 8px 2px;
    i {
      margin-right: 5px;
    }
  }
  .action-btn:not(:last-child) {
    margin-right: rem(13px);
  }
}
