@import '../includes';
.todo-item {
  margin: 0 0 rem(14px) 0;
  .pretty {
    margin-right: 0;
  }

  .pretty .state label {
    text-indent: 0;
    margin-right: rem(12px);
  }
  .pretty .state label::before,
  .pretty .state label::after {
    padding: rem(5px);
    width: 1.1rem;
    height: 1.1rem;
    top: 0;
  }
}

.todo-item-text {
  z-index: 2;
  color: lighten($shade-inverse, 15%);
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  &:hover {
    font-style: italic;
    font-weight: 500;
    border-bottom: 1px solid $accent;
  }
}

.todo-item-is-completed {
  text-decoration: line-through;
}
