@import '../includes';

.todo-items {
  height: rem(260px);
  overflow-y: scroll;
  @include screen(med-small) {
    height: auto;
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .todo-item {
      width: 45%;
    }
    .todo-item-text {
      font-size: rem(14px);
    }
  }
  @include screen(med) {
    .todo-item {
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 32%;
      max-height: 400px;
    }
  }
}
