@import './_includes.scss';
// todo: extract modules rules and theme rules

// layout rules
.container {
  margin: 0 auto;
  padding: rem(38px) rem(40px);
  min-width: 350px;
  max-width: 938px;
  @include screen(small) {
    padding: rem(60px) rem(50px);
  }
}
// module rules

// theme rules
.has-theme-shade-bg {
  background-color: $shade;
}

.has-theme-shade-fg {
  color: $shade;
}

.has-theme-accent-fg {
  color: $accent;
}

.has-theme-accent-bg {
  background-color: $accent;
}

.has-theme-shade-inv-fg {
  color: $shade-inverse;
}
